<h1><%= t('.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.list') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @railway_stations %>
  </tbody>
</table>

<br>

<%= link_to t('common.create_new_station'), new_admin_railway_station_path %>
