<h1>Listing Routes</h1>

<table>
  <thead>
  <tr>
    <th>Route number</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <%= render @routes %>   
  </tbody>

</table>

<br>

<%= link_to 'Add route', new_admin_route_path %>