<h1>Tickets</h1>

<table class="table">
  <thead>
    <tr>
      <th>Train number</th>
      <th>Start station</th>
      <th>End station</th>
      <th>Passenger</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tickets %>
  </tbody>
</table>