<tr>
  <td><%= carriage.type_of_carriage %></td>
  <td><%= link_to 'Show', carriage %></td>
  <td><%= link_to 'Edit', edit_carriage_path(carriage) %></td>
  <td><%= link_to 'Destroy', carriage, method: :delete, data: { confirm: 'Are you sure?'} %></td>
</tr>