<p id="notice"><%= notice %></p>

<p>
  <strong>These carriage:</strong>
    <%= render @carriage.type.downcase, carriage: @carriage %>
</p>

<%= link_to 'Edit', edit_carriage_path(@carriage) %> |
<%= link_to 'Back', @carriage.train %>


