<p>
  <strong>Coupe carriage</strong>
  № <%= @carriage.number %><br>
  <strong>Top seats count:</strong>
  <%= @carriage.top_seats %><br>
  <strong>Bottom seats count:</strong>
  <%= @carriage.bottom_seats %>
</p>
