<% if @route.railway_stations.empty? %>
  <p>The route no stations</p>
<% else %>
  <p>Stations in the route:</p>
    <ul>
      <% @route.railway_stations.each do |station| %>
        <li><%= station.title %></li>
      <% end %>
    </ul>
<% end %> 