<div class="navbar-fixed-bottom row-fluid">      
  <div class="navbar-inner">
    <div class="container">
      <footer>
        <center>
          <p>
            © 2017 github:<%= link_to 'zealot9000', url_for('https://github.com/zealot9000/railway-project'), :target => "_blank" %> Training project in the online school  <%= link_to 'Thinknetica', url_for('http://thinknetica.com'), :target => "_blank" %>
          </p>  
        </center>
      </footer>   
    </div>
  </div>
</div> 